// Variables

$dark-grey: #6b6b6b;
$blue: #dfe7ed;
$blue-alt: darken($blue, 15%);
$red: #eddfdf;
$red-alt: darken($red, 15%);

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #ffffff;
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: $dark-grey;

  &:hover {
    text-decoration: underline;
  }
}

button {
  height: 3rem;
  width: 7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@import "./components/query-form";