.navigation {
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  border-bottom: 0.1rem $dark-grey solid;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navigation__links {
  font-size: 2rem;
  list-style: none;
  display: flex;
  justify-content: flex-end;

  li {
    margin: 0 1rem 0 1rem;
  }
}
